* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: "League Spartan", sans-serif;
    font-size: calc(16px + 0.4vw);
}

.admisson {
    background-color: #00457A;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* jab tak width 0 se  768 h */
@media (max-width:768px) {
    .admisson {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.reg {
    background-color: #E02B20;
    width: 20%;
    color: #ffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    border-radius: 25px;
}

/* jab tak screen width 768 tK */
@media (max-width: 768px) {
    .reg {
        width: 41%;
        height: 75%;
    }
}

.reg a {
    text-decoration: none;
    color: #ffff;
}

.reg i {
    border-radius: 50%;
    border: 2px solid white;
    font-size: 16px;
}

.contact {
    /* background-color: red; */
    color: #ffff;
    text-align: center;
    width: 75%;
}

/* jab tak screen 0 to max 768px ho */
@media (max-width: 768px) {
    .contact {
        width: 100%;
        margin-top: 10px;
    }
}

.logo {
    width: 40%;
}

.info {
    background-color: #fff;
    display: flex;
    margin-top: 9px;
    padding: 10px;
    height: auto;
    width: 100%;
    align-items: start;
}

/* jab tak screen width 0 se max 768 ho */
@media (max-width:888px) {
    .info {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 8px;
    }

    .info img {
        width: 50%;
    }
}

.infotext h2 {
    font-weight: bolder;
    font-size: 40px;
    font-family: "League Spartan", sans-serif;
}

/* jab tak screen width 0 se max 768px tak ho jab font
size set to = 32px */
@media (max-width:768px) {
    .infotext h2 {
        font-size: 32px;
    }
}

.bold {
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
}

.red-text {
    line-height: 1;
    color: red;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

.menubar {
    background-color: #00457A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 5;

}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}



.menu-items a {
    color: #ffff;
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    padding: 8px;
}


@media (max-width: 768px) {
    .menu-items a {
        color: #ffff;
        font-family: "League Spartan", sans-serif;
        text-decoration: none;
        padding: 5px;
        font-size: 10px;
    }
}

/* @media (max-width: 768px) {
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}   */



.intro-bg {
    position: relative;
    height: auto;
    width: 100%;
    /* background-color: #E02B20; */

}

.background-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.background-img {
    position: relative;
    height: 100%;
    width: 100%;

}

.text-on-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    top: 32%;
    color: white;
    text-align: center;
    align-items: center;
}

.text-on-img h2 {
    font-size: 3.3rem;
}

.text {
    width: 80%;
    font-size: 1.5rem;
}

/* for small size  jab tak screen width 0 se 550px*/

@media screen and (max-width: 550px) {
    .text-on-img {
        gap: 0.45rem;
        top: 32%;

    }

    .text-on-img h2 {
        font-size: 20px;
    }

    .text {
        width: 90%;
        font-size: 12px;
        margin-top: 8px;
    }
}

/* `
/* jab tak screen width 768px se jyada ho or 1100px se kam ho then */
@media screen and (min-width: 550px) and (max-width: 1100px) {
    .text {
        font-size: 1.25rem;
    }

    .text-on-img h2 {
        font-size: 1.85rem;

    }
}

.course-note {
    width: auto;
    line-height: 1.5;
    gap: 20px;
    padding: 20px 0;
    font-size: 1.25rem;
    display: flex;
    ALIGN-ITEMS: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    /* background-color: gold; */

}

.course-note h2 {
    font-size: 2.35rem;
    font-weight: 700;
    padding-top: 10px;

}

.note-1 p {
    font-size: 20px;
}

@media (max-width:1160px) {
    .course-note {
        width: 90%;
        font-size: 1rem;
        line-height: 1.35;
        gap: 12px;
        padding: 20px 0;
        margin-bottom: 36px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .course-note h2 {
        font-size: 1.5rem
    }
}


.about-course {

    width: 80%;
    height: auto;
    margin: auto;
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.course-boxes {
    /* border: 0.6px solid black; */
    /* background-color: gold; */
    width: 23%;
    border-radius: 9px;

}

@media (max-width: 820px) {
    .about-course {
        flex-direction: column;
        align-items: center;
        gap: 9px;
        width: 90%;
        padding-bottom: 12px;

    }

    .course-boxes {
        width: 90%;
        text-align: center;
    }

    .comman {
        width: 90%;
        /* Adjust content within each course box */
        height: auto;
        /* Let height adjust dynamically */
        padding: 10px;
        /* Add padding for better spacing */
    }

}


.center-cls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comman {
    border-radius: 20px;
    width: 95%;
    border: 1.5px solid rgb(228, 228, 228);
    height: 100%;
    text-align: center;
}

.comman h3 {
    margin-top: 10px;
}

.comman li,
p {
    line-height: 1.3;
    font-size: 20px;
    margin-top: 15px;
}

.comman p {
    line-height: 1.3;
    font-size: 20px;
    margin-top: 25px;
}

@media (max-width:820px) {

    .comman li,
    p {
        line-height: 1.15;
        font-size: 12px;
    }

    .comman {
        font-size: 22px;
    }

    .comman img {

        width: 40%;
    }

    .life-at-mriem h3 {
        font-size: 25px;
        font-weight: 700;
    }

    .life-text p {
        line-height: 1.35;
        font-size: 16px;
        margin-top: 13px;
    }

    .life-at-mriem {
        width: 100%;
    }

    .life-at-mriem img {
        /* padding: 20px 0; */
        margin: 10px 0px 0px 0px;
    }
}

.life-at-mriem {
    /* background-color: #E02B20; */
    width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;

}

.life-at-mriem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 8px 0;
}

.life-at-mriem h3 {
    padding: 15px 5px;
    font-size: 45px;
    font-weight: 700;
    padding-top: 10px;
}

.life-text p {
    line-height: 1.35;
    font-size: 18px;
}


.placement-sec {
    /* background-color: gold; */
    width: 99%;
    text-align: center;
    margin: auto;
    padding: 7% 7%;
    padding-bottom: 5%;
}

.placement-content {
    /* background-color: blue; */
    line-height: 1.3;

}

.placement-content h2 {
    font-size: 52px;
}

.placement-content h4 {
    font-size: 30px;
    font-weight: 500;
}

.red {
    font-size: 36px;
    color: #E02B20;
    font-weight: 650;
}

.red-p {
    font-size: 22px;

}

.placement-stats {
    /* background-color: gold; */
    width: 100%;
    height: auto;
    margin: auto;
    padding: 80px 20px;
}

@media (max-width:768px) {
    .placement-stats {
        padding: 30px 20px;
    }

    .placement-content h4 {
        font-size: 23px;
    }

    .red {
        font-size: 26px;
    }

    .red-p {
        line-height: 1.3;
        font-size: 16px;
    }
}


.placement-comman {
    /* border: 2px solid black; */
    width: 30%;
    height: auto;
    /* background-color: chartreuse; */
    padding: 9px;
    text-align: center;
}

.placement-comman h5 {
    font-size: 30px;
    font-weight: 650px;
}

.placement-comman p {
    font-size: 24px;
}

.placement-stats-content {
    /* background-color: #E02B20; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    row-gap: 25px;
}

@media (max-width:768px) {
    .placement-stats-content {
        display: flex;
        width: 100%;
        justify-content: center;
        justify-content: space-around;
        row-gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .placement-comman {
        width: 50%;
    }

    .placement-comman h5 {
        font-size: 28px;
        font-weight: 650;
    }

    .placement-comman p {
        font-size: 18px;
    }

    .recruiters-sec-content h2 {
        padding-bottom: 40px;
        font-size: 32px;
    }

    .Recruiters-sec {
        /* background-color: gold; */
        width: 100%;
        padding: 8px;
        height: auto;
    }

}



.recruiters-sec-content h2 {
    padding-bottom: 40px;
    font-size: 40px;

}

.Recruiters-sec {
    /* background-color: gold; */
    width: 100%;
    padding: 20px;
    height: auto;
}


.partner-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (max-width:768px) {
    .placement-sec {
        padding: 5% 5%;
    }


}

.p-img-comman {
    border: 0.75px solid black;
    height: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-img-comman img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.our-alumnies {
    height: auto;
    padding: 6px 7% 7% 7%;

}

@media (max-width:900px) {
    .our-alumnies {
        padding: 20px;
    }

}

.our-alumnies-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.details p {
    font-size: 18px;
}


@media (max-width:768px) {
    .infotext h2 {
        font-size: 24px;
    }
}

@media (max-width:768px) {

    .our-alumnies-content {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
        text-align: center;

    }

    .details {

        /* background-color: #00457A; */
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        text-align: center;
    }

    .details p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .our-alumnies-content img {
        width: 70%;
    }


}

.h22 {
    text-align: center;
    font-size: 45px;
    padding: 24px;
    padding-top: 0px;
    font-weight: 700;
}


.last {
    height: auto;
    width: 100%;
    /* background-color: pink; */
    /* padding: 50px; */

}

.last-content {
    /* background-color: #E02B20;
 */
    background-color: black;
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;

}

.clg-info {
    /* background-color: darkorchid; */
    background-color: black;
    border: 2px solid black;
    width: 80%;
}

.clg-info h1 {
    font-size: 65px;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
}

.clg-info p {
    line-height: 1;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 650;
    color: white;
}


.imp-links {
    width: 20%;
    /* background-color: orange; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    align-items: flex-start;

}

@media (max-width:600px) {
    .imp-links a {
        font-size: 15px;
        font-weight: 500;
    }

    .last-content {
        padding: 8px;
    }

    .clg-info h1 {
        font-size: 24px;
        letter-spacing: 3 px;
        font-weight: 500;
    }

    .clg-info p {
        line-height: 1.25;
        font-size: 12px;
        /* margin-top: 15px; */
        font-weight: 500;
    }


    .social ul li img {
        width: 80%;
    }


}

.imp-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.imp-links h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

@media (max-width:600px) {

    .imp-links h3 {
        letter-spacing: 3;
        font-size: 18px;

    }

    .imp-links a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .imp-links {
        align-items: normal;
        text-align: center;
        /* background-color: orange; */


    }
}

.social ul {
    display: flex;
    gap: 8px;
    padding: 16px;
    width: 100%;
}

.social ul li {
    list-style: none;
}

.social ul li img {
    width: 80%;
}


.clone {
    gap: 9px;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.clone p {
    margin: 0;
}